# This list is used by various git commands to fix a few botched name
# translations in the StGIT repository.

Bryan Larsen <bryan.larsen@gmail.com>
Bryan Larsen <bryanlarsen@yahoo.com>
Karl Wiberg <kha@treskal.com>
Paolo 'Blaisorblade' Giarrusso <blaisorblade@yahoo.it>
