# This list is used by git-shortlog to fix a few botched name
# translations in the StGIT repository.

Bryan Larsen <bryan.larsen@gmail.com>
Bryan Larsen <bryanlarsen@yahoo.com>
Karl Hasselström <kha@treskal.com>
Paolo 'Blaisorblade' Giarrusso <blaisorblade@yahoo.it>
