include README Makefile MANIFEST.in AUTHORS COPYING INSTALL TODO
include RELEASENOTES
include stg-build
include examples/*.tmpl
include examples/gitconfig
include contrib/*.sh
include contrib/stg-*
include contrib/Makefile
include contrib/stgit.el
recursive-include contrib/vim *.vim
include t/t*.sh t/t[0-9]*/* t/Makefile t/README
include Documentation/*.txt Documentation/Makefile Documentation/*.conf
include Documentation/build-docdep.perl Documentation/callouts.xsl
