Source: stgit
Section: devel
Priority: optional
Maintainer: Catalin Marinas <catalin.marinas@gmail.com>
Build-Depends: debhelper (>= 4.0.0), python-dev
Standards-Version: 3.6.2

Package: stgit
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}, git-core
Description: provide Quilt functionality on top of GIT
 StGIT (Stacked GIT) provides similar functionality to Quilt
 (i.e. pushing/popping patches to/from a stack) on top of GIT.
 .
 These operations are performed using GIT commands and the patches are
 stored as GIT commit objects, allowing easy merging of the StGIT
 patches into other repositories using standard GIT functionality.
 .
 Homepage: http://www.procode.org/stgit/
