From: Your Name <your.name@yourcompany.com>
To: Some Address <some.address@somelist.com>
Cc: other.address@otherlist.com, other.person@othercompany.com
Bcc: Your Name <your.name@yourcompany.com>
Subject: [PATCH 0/%(totalnr)s] Series short description
Date: %(date)s
%(endofheaders)s
The following series implements...

--
Your signature
