From: %(sender)s
Subject: [%(prefix)s%(pspace)sPATCH%(vspace)s%(version)s%(nspace)s%(number)s] Series short description

The following series implements...

---

%(shortlog)s
%(diffstat)s
--
Signature
